.FormPage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c9c9c9;
}

.FormBox {
  height: 850px;
  width: 1150px;
  background-color: white;
  display: flex;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.49);
}

.LeftBox {
  height: 850px;
  width: 575px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.LeftCloud {
  height: 150px;
  width: 575px;
}

.LeftCloud img {
  transform: rotate(180deg);
}

.RightBox {
  height: 850px;
  width: 575px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.RightCloud {
  height: 350px;
  width: 575px;
}

.RightImage {
  height: 500px;
  width: 575px;
  background-image: url(../../../public/Images/24493638_6941053.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.FormLogo {
  height: 100px;
  width: 520px;
  background-image: url(../../../public/Images/coral.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.FormWrapper {
  height: 600px;
  width: 520px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.FormWrapper .BackButton {
  height: 40px;
  width: 540px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.FormWrapper .BackButton .Back {
  font-size: 20px;
  margin-right: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 600;
  color: #1b4b66;
  cursor: pointer;
}

.FormWrapper .SFormTitle {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  font-size: 32px;
  font-weight: 600;
  height: 100px;
  width: 520px;
  margin-bottom: 15px;
}

.FormWrapper .LFormTitle {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  font-size: 35px;
  font-weight: 600;
  height: 100px;
  width: 520px;
  margin-bottom: 15px;
}

.FormWrapper .OFormTitle {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  font-size: 35px;
  font-weight: 600;
  height: 100px;
  width: 520px;
  margin-bottom: 10px;
}

.FormWrapper .OFormTitle label {
  font-weight: 400;
  font-size: 15px;
  width: 400px;
  line-height: 25px;
}

.FormWrapper .Row {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  width: 520px;
  margin-bottom: 10px;
}

.FormWrapper .ORow {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 65px;
  width: 520px;
  margin-bottom: 10px;
}

.FormWrapper .Error {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 23px;
  width: 520px;
  font-size: 18px;
  color: red;
  font-weight: 600;
}

.FormWrapper .Row .Loading {
  height: 65px;
  width: 520px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #1b4b66;
  color: white;
  transition: 1s;
  margin: 0;
}
.FormWrapper .Row .Code {
  border: 0;
  outline: none;
  border-radius: 7px;
  height: 64px;
  width: 80px;
  background-color: #f1f1f1;
  cursor: default;
  padding-left: 10px;
  padding-top: 5px;
}

.FormWrapper .Row .Code::placeholder {
  color: #626262;
  font-weight: 600;
  font-size: 20px;
}

.FormWrapper .ORow .OCode {
  border: 0;
  outline: none;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
  cursor: text;
  height: 64px;
  width: 64px;
  margin-right: 10px;
  background-color: #d9d9d9;
  padding: 0;
}

.FormWrapper .ORow .OCode::placeholder {
  font-size: 20px;
  color: #626262;
  font-weight: 600;
}

.FormWrapper .Row .Input {
  border: 0;
  outline: none;
  border-radius: 7px;
  margin-left: 8px;
  height: 64px;
  width: 430px;
  font-size: 20px;
  background-color: #f1f1f1;
  padding-left: 10px;
  font-weight: 600;
}

.FormWrapper .Row .Input::placeholder {
  color: #626262;
  font-weight: 600;
  font-size: 20px;
}

.FormWrapper .Row .Input2 {
  border: 0;
  outline: none;
  border-radius: 7px;
  height: 63px;
  width: 520px;
  font-size: 20px;
  background-color: #f1f1f1;
  padding-left: 10px;
  font-weight: 600;
}

.FormWrapper .Row .Input2::placeholder {
  color: #626262;
  font-weight: 600;
  font-size: 20px;
}

.FormWrapper .Row .TC {
  font-size: 17px;
}

.Link {
  font-size: 18px;
  font-weight: 600;
  color: #1b4b66;
  text-decoration: underline;
}

.FormWrapper .Row .Btn {
  height: 65px;
  width: 520px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  border: 0;
  cursor: pointer;
  background-color: #1b4b66;
  color: white;
  transition: 1s;
}

.FormWrapper .Row .Btn:hover {
  background-color: #2b77a2;
}

@media (max-width: 1300px) {
  .FormBox {
    height: 550px;
    width: 850px;
    background-color: white;
    display: flex;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5),
      0 6px 20px 0 rgba(0, 0, 0, 0.49);
  }

  .LeftBox {
    height: 550px;
    width: 425px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .LeftCloud {
    height: 100px;
    width: 425px;
  }

  .LeftCloud img {
    transform: rotate(180deg);
  }

  .RightBox {
    height: 550px;
    width: 425px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .RightCloud {
    height: 250px;
    width: 425px;
  }

  .RightImage {
    height: 330px;
    width: 425px;
    background-image: url(../../../public/Images/24493638_6941053.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .FormLogo {
    height: 70px;
    width: 400px;
    background-image: url(../../../public/Images/coral.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .FormWrapper {
    height: 380px;
    width: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .FormWrapper .BackButton {
    height: 30px;
    width: 420px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .FormWrapper .BackButton .Back {
    font-size: 20px;
    font-weight: 600;
    color: #1b4b66;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
  }

  .FormWrapper .SFormTitle {
    display: flex;
    align-items: flex-end;
    font-size: 24px;
    font-weight: 600;
    height: 70px;
    width: 400px;
    margin-bottom: 10px;
  }

  .FormWrapper .LFormTitle {
    display: flex;
    align-items: flex-end;
    font-size: 25px;
    font-weight: 600;
    height: 60px;
    width: 400px;
    margin-bottom: 10px;
  }

  .FormWrapper .OFormTitle {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    font-size: 25px;
    font-weight: 600;
    height: 70px;
    width: 400px;
    margin-bottom: 10px;
  }

  .FormWrapper .OFormTitle label {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    width: 320px;
  }

  .FormWrapper .Row {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 400px;
    margin-bottom: 10px;
  }

  .FormWrapper .ORow {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 50px;
    width: 400px;
    margin-bottom: 10px;
  }

  .FormWrapper .Error {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 20px;
    width: 400px;
    font-size: 13px;
    color: red;
    font-weight: 600;
  }

  .FormWrapper .Row .Loading {
    height: 40px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #1b4b66;
    color: white;
    transition: 1s;
    margin: 0;
  }
  .FormWrapper .Row .Code {
    border: 0;
    outline: none;
    border-radius: 5px;
    height: 39px;
    width: 52px;
    background-color: #f1f1f1;
    cursor: default;
    padding-left: 10px;
    padding-top: 0;
  }

  .FormWrapper .Row .Code::placeholder {
    color: #626262;
    font-weight: 600;
    font-size: 13px;
  }

  .FormWrapper .ORow .OCode {
    border: 0;
    outline: none;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    cursor: text;
    height: 49px;
    width: 49px;
    margin-right: 10px;
    background-color: #d9d9d9;
    padding: 0;
  }

  .FormWrapper .ORow .OCode::placeholder {
    font-size: 20px;
    color: #626262;
    font-weight: 600;
  }

  .FormWrapper .Row .Input {
    border: 0;
    outline: none;
    border-radius: 5px;
    margin-left: 8px;
    height: 39px;
    width: 380px;
    font-size: 13px;
    background-color: #f1f1f1;
    padding-left: 10px;
    font-weight: 600;
  }

  .FormWrapper .Row .Input::placeholder {
    color: #626262;
    font-weight: 600;
    font-size: 13px;
  }

  .FormWrapper .Row .Input2 {
    border: 0;
    outline: none;
    border-radius: 5px;
    height: 39px;
    width: 400px;
    font-size: 13px;
    background-color: #f1f1f1;
    padding-left: 10px;
  }

  .FormWrapper .Row .Input2::placeholder {
    color: #626262;
    font-weight: 600;
    font-size: 13px;
  }

  .FormWrapper .Row .TC {
    font-size: 12px;
  }

  .Link {
    font-size: 13px;
    font-weight: 600;
    color: #1b4b66;
    text-decoration: underline;
  }

  .FormWrapper .Row .Btn {
    height: 40px;
    width: 400px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    border: 0;
    cursor: pointer;
    background-color: #1b4b66;
    color: white;
    transition: 1s;
  }

  .FormWrapper .Row .Btn:hover {
    background-color: #2b77a2;
  }
}
