.ProductMenu {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ProductTitle {
  height: 17vh;
  width: 97%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.ProductTitle .One {
  font-size: 35px;
  font-weight: 600;
  color: #1b4b66;
}
.ProductSection {
  width: 97vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.ProductFilter {
  height: 100%;
  width: 23%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.ProductList {
  height: 100%;
  width: 75%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.ProductListPage {
  height: 13vh;
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid black;
}
.ProductListCard {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.ProductCard {
  height: 410px;
  width: 280px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 15px;
}
.ProductCard .Image {
  height: 68.5%;
  width: 100%;
  background-color: #f1f1f1;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.ProductCard .Data {
  height: 31.5%;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.ProductCard .Title {
  font-size: 17px;
  font-weight: 600;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #171520;
}
.ProductCard .Subtitle {
  font-size: 15px;
  color: #626262;
}
.ProductCard .Rating {
  font-size: 14px;
  font-weight: 500;
  color: #1b4b66;
  display: flex;
  align-items: flex-start;
}
.ProductCard .Price {
  font-size: 16.5px;
  font-weight: 600;
  color: #171520;
}

/* -------------------------------------------------------------------------------------------------- */

.DetailsBox {
  height: 120vh;
  width: 100vw;
  display: flex;
  margin-top: 10px;
}

.DetImage {
  width: 50%;
  border: 1px solid black;
}

.Details {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.DetailsTitle {
  width: 94%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.393);
  display: flex;
  flex-direction: column;
}

.DetailsTitle .Title {
  font-size: 35px;
  font-weight: 500;
  margin-top: 2px;
}

.DetailsTitle .Subtitle {
  font-size: 20px;
  font-weight: 600;
  margin-top: 2px;
  color: #626262;
}

.DetailsTitle .Rating {
  margin-top: 30px;
}

.DetailsTitle .Price {
  font-size: 45px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.DetailsTitle .Price .Discounted {
  font-size: 40px;
  font-weight: 700;
  color: #c9c9c9;
  text-decoration: line-through;
  margin-left: 20px;
}

.DetailsTitle .Price .Offer {
  font-size: 20px;
  font-weight: 500;
  color: red;
  margin-left: 10px;
}

.DetailsDelivery {
  width: 94%;
  display: flex;
  justify-content: center;
}

.DetailsDelivery .Heading {
  display: flex;
  flex-direction: column;
  height: 120px;
  width: 35%;
}

.DetailsDelivery .Heading .One {
  font-weight: 500;
  font-size: 22px;
  margin-top: 25px;
}

.DetailsDelivery .Heading .Two {
  font-weight: 500;
  font-size: 17px;
  margin-top: 7px;
  color: #626262;
}

.DetailsDelivery .Row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 120px;
  width: 65%;
}

.DetailsDelivery .Row .Input {
  border: 0;
  outline: none;
  border-radius: 5px 0px 0px 5px;
  height: 50px;
  width: 300px;
  font-size: 15px;
  background-color: #f1f1f1;
  padding-left: 10px;
  font-weight: 600;
}

.DetailsDelivery .Row .Input::placeholder {
  color: #626262;
  font-weight: 600;
  font-size: 15px;
}

.DetailsDelivery .Row .Code {
  border: 0;
  outline: none;
  border-radius: 0px 5px 5px 0px;
  height: 50px;
  width: 70px;
  background-color: #f1f1f1;
  cursor: pointer;
  padding-left: 5px;
  font-weight: 600;
  font-size: 15px;
}

.DetailsDelivery .Row .Code::placeholder {
  color: #1b4b66;
}
