.HeadNav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}

.HeadNav .link {
  font-size: 18px;
  font-weight: 600;
  height: 82px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.HeadNav .link:hover {
  border-bottom: 3px solid #1b4b66;
  padding-top: 3px;
}
.HeadNav .link:focus {
  cursor: pointer;
}
.HoverMenu {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}
.SubMenu {
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 483px;
  margin-left: 300px;
  width: 400px;
  height: 400px;
  font-size: 16px;
  background-color: #ffffff;
}

.HoverMenu:hover .SubMenu {
  display: flex;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 500;
}

.SubMenu .SubMenuBox {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  height: 330px;
  width: 90%;
}

.SubMenu .SubMenuBox label {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 40px;
  width: 48%;
  padding-left: 5px;
}
.SubMenu .SubMenuBox label:hover {
  font-weight: 600;
  color: #1b4b66;
}
.SubMenu .SubMenuHeading {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 40px;
  font-size: 18px;
  width: 88%;
  font-weight: 700;
  color: #1b4b66;
}

.SubMenu2 {
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 383px;
  margin-left: 100px;
  width: 200px;
  height: 300px;
  font-size: 16px;
  background-color: #ffffff;
}

.HoverMenu:hover .SubMenu2 {
  display: flex;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 500;
}

.SubMenu2 .SubMenuBox {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  height: 230px;
  width: 90%;
}

.SubMenu2 .SubMenuBox label {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 40px;
  padding-left: 5px;
}
.SubMenu2 .SubMenuBox label:hover {
  font-weight: 600;
  color: #1b4b66;
}
.SubMenu2 .SubMenuHeading {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 18px;
  height: 40px;
  width: 88%;
  font-weight: 700;
  color: #1b4b66;
}
